{{ define "main" }}

{{ $pages := .Pages }}  {{ $currentSection := .Section }} 

<header class="page-header">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
    <div class="post-description">{{ . }}</div>
    {{ end }}
</header>


{{ if not .Paginator.HasPrev }}
    <div class="section-content-body" style="margin-bottom: 25px;"> 
        {{ .Content }}
    </div>
{{ end }}

{{ if $pages }}
    <div class="posts-entry">        
        {{/* 排序逻辑 */}}
                        
        {{ $sorted  := $pages.ByDate }}
                
        {{ range $sorted }}
            {{ if not .Draft }}
                <article class="post-entry"> 
                    <header class="entry-header"><h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>                    
                    </header>
                                        
                    {{ with .Summary }}
                    <div class="entry-content"><p>{{ . }}</p></div>
                    {{ end }}
                    
                    {{/* 隐藏作者和日期                                            
                        <div class="entry-meta">{{ partial "post_meta.html" . }}</div>
                    */}}
                    
                </article>
            {{ end }}
        {{ end }}
    </div>



{{ else }}
    <p>抱歉，本系列下没有找到任何文章。</p>
{{ end }}

{{ end }}