{{ define "main" }}

{{/* 首页的标题/描述 */}}
<header class="page-header">    
    {{ with .Description }}
    <div class="post-description">{{ . }}</div>
    {{ end }}
</header>


{{/* 插入_index.md 的内容 */}}
<div class="intro-content" style="margin-bottom: 40px;"> {{ .Content }} </div>

{{/* 按最新在前排序的五篇文章 */}}
{{ $all := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $sorted := $all.ByDate.Reverse }}
{{ $recent := first 5 $sorted }}

{{ if $recent }}
    <div class="posts-entry">

        {{ range $recent }} 

        {{ if not .Draft }}
            <article class="post-entry">

                {{/* 只渲染标题和summry，不包含其余 */}}
                
                <header class="entry-header">
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                </header>

                {{ with .Summary }}

                <div class="entry-content"><p>{{ . }}</p></div>
                
                {{ end }}
                
                {{/* 隐藏作者和日期                    
                <div class="entry-meta">{{ partial "post_meta.html" . }}</div>
                */}}

            </article>            
        {{ end }}
        {{ end }}
    </div>


{{ else }}
    <p>抱歉，首页未找到任何文章。</p>
{{ end }}

{{ end }}